.textFieldCustomStyles {
    background-color: #ECECEC;
    width: 400px;
    max-width: 90%;
    border-radius: 4px;
  }
  
  .textFieldCustomStyles .MuiOutlinedInput-root {
    border-radius: 4px;
    padding: 8px;
    height: 40px;
  }
  