/* Header.css */

.app-bar {
    background-color: #ffffff; 
}
  
.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.search-bar {
    background-color: #c4c4c4; 
    border-radius: 4px; 
}
  
.search-bar .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: transparent; 
}
  
.search-bar .MuiOutlinedInput-input {
    color: #333333;
}
  